@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,600&display=swap');

body{
    margin: auto;
}

.logo {
    color: #FFFFFF;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    text-align: left; 
    margin-left: 30px;
}

nav .menu{
    display: grid;
} 

@media (min-width: 950px) {

    nav{
       display: flex;
      
   }
   nav .menu {
       display: inline;
       align-items: center;
       position: absolute;
       right: 10px;
   
   }
   
}

nav .menu a{
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px;
    color: #FFFFFF;
    margin-left: 25px; 
    
}

nav .menu a:hover{
    color:#b5352b;
}

header {
    background-image: url(../img/backgroung.png);
    padding-top: 80px;
    padding-bottom: 100px;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner h1{
    font-family: 'Rubik', sans-serif;
    font-size: 77.5px;
    color: white;
    /* display: table-caption; */
    margin-left: 25px;

}

.banner button{
    
    padding: 18px 28px;
    margin: 10px 20px;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    /* margin: 25px 10px 70px 25px; */
}
.ticket{
    background-color:#f2254c;
    color: white;
    border: 2px solid #f2254c; 
    transition-duration: 0.4s;

}
.ticket:hover{
    background-color:#16191c;
    color:white;
    border: 2px solid #16191c;
}
.learn-more{
    background-color: transparent;
    color: white;
    border: 2px solid white; 
    transition-duration: 0.4s;
}
.learn-more:hover{
    background-color:white;
    color:#16191c;
    border: 2px solid white;
}

 main h2{
    font-size: 42px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

main p{
    text-align: center;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}

.flowers-info{
    column-count: 3;
}

.flowers-info > article h2 {
    color: rgb(255,193,50);
    font-family: 'Rubik', sans-serif;
    font-size: 95px;
}

.flowers-info > article p{
    font-family: 'Rubik', sans-serif;
    font-size: 24px; 
    color: #16191c;
}
.flowers-info > article > p:nth-child(3){
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px; 
    color: #494d51;
}

div.tulip.picture > img {
    width: 100%;
    height: 600px;
}
div.about-shop > img {
    width: 600px;
    height: 600px;

}
article > img {
    width: 30%;
    height: 30%;
}
div.top-florists > img{
    width: 30%;
    height: 30%;
}

.gallery > img {
    width: 30%;
    height: 30%;    
}
